/* #Live_Preview{
    background-color: rgb(27, 48, 53);
} */
#navbar{
    background-color: rgb(27, 48, 53);
}
#Question-bank-button{
    background-color: rgb(250, 164, 150);
}
#top-button:hover{
    background-color: rgb(43, 76, 84);
}